* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

.wrapper .multi-color-border {
    width: 100%;
    height: 5px;

}

.wrapper .top-nav {
    width: 100%;
    height: 95px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top-nav .left {
    display: flex;
    align-items: center;
}

.wrapper .top-nav .left .logo img {
    width: 225px;
    margin-left: 25%;
    top: 10px;
    

}
.partners h1{
    padding: 2rem 0;
    text-align: center;
}
.partners hr{
    width: 3%;
    margin: auto;
    margin-top: -1.5%;
}
.partners{
    text-align: center;
}
.partners img{
    display: inline-flex;
    width: 12%;
    margin: 3%;        
    padding: 15px;
    border-radius: 5%;
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.349);
   

    
}
.wrapper .top-nav .left .search_bar input[type="text"] {
    border: 1px solid #666666;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 250px;
}

.wrapper .top-nav .right {
    display: flex;
}
.wrapper .top-nav .right2 {
    display: flex;    
}
.wrapper .top-nav .right2 i {
    margin: 5px;
}
circle span {
    position: relative;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 90px;
    
  }
  .wrapper .top-nav .right3 i{
 display:inline-flex;
  
  }
  circle {
    background: rgb(0, 0, 0);
    color: white;
    width: 27px;
    height: 27px;
    display: inline-flex;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 5px;
    position: relative;
  }
.wrapper .top-nav .left ul {
    display: flex;
}

.wrapper .top-nav .left ul li {
    margin: 0 12px;
}
.wrapper .top-nav .right li{
    margin-left: 25px;
    font-size: 15px;
    margin-right: 45px;
    display: inline-flex;
    transition: 0.4sn;
  
}
.wrapper .top-nav .right a{
    color: rgb(0, 0, 0);
  
}
.wrapper .top-nav .right a:hover {
    color: rgb(255, 51, 0);
    transition: 0.4sn;
  }

.wrapper .top-nav .left i {
    margin: 6px;
}

.wrapper .top-nav .left ul li :last-child {

    margin-right: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/**/
.wrapper .bottom_nav {
    width: 100%;
    background: #16BDCF;

    height: 45px;
    padding: 0 150px;
}

.wrapper .bottom_nav ul {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .bottom_nav ul li a {
    color: #ffffff;
    letter-spacing: 1px;    
    font-size: 11px;
}

#kontrol{
    display: none;
}
.kontrol{
    display: none;
    font-size: 20px;
    float: right;
    line-height: 60px;
    
    
    cursor: pointer;
}
/**/
.wrapper .banner {
    height: calc(100vh - 80px);
    background-image: url(background1.jpg);
    background: black;
    background-position: center;
    overflow: hidden;
    background: #C33764;
    /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 37, 113, 0), rgba(0, 0, 0, 0.4)), url("background1.jpg");
    background: linear-gradient(rgba(29, 37, 113, 0), rgba(0, 0, 0, 0.4)), url("background1.jpg");
    /* The least supported option. */
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper img {
    object-fit: cover;
   
}

.wrapper .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper .title h2 {
    margin-top: 20%;
    font-size: 40px;
    color: rgb(255, 255, 255);


}

.wrapper .title p {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3%;
    color: white;
}

.wrapper button {
    padding: 12px 72px;
    font-size: 12px;
    border: none;
    outline: none;
    opacity: 90%;
    color: white;
    background-color: #16BDCF;

    border-radius: 25px;
    cursor: pointer;
}

/**/
.kurslar .title {
    text-align: center;   
}
.kurslar hr{
    width: 3%;
    margin: auto;
    margin-top: 1%;
}
.kurslar .title p{
    margin-top: 1%;
}

.card-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}


.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 20px;
}

.card p {
    font-size: 13px;
    color: #333;
    margin: 0px 20px;
}

.card a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 30px;  
    transition: all 0.3s ease;
}

.card i {
    margin: 0px 0px;
    padding: 10px 20px;
}

.card hr {
    width: 100%;
    margin-top: 3%;
}

.card a:hover {
    background-color: white;
    color: black;
}

.card2-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto;
}

.card2 {
    width: calc(34.33% - 10px);
    margin-top: -3%;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}


.card2 img {
    width: 130%;
    height: auto;
}

.card2 h3 {
    font-size: 26px;
    color: #333;
    margin: 10px 20px;
}

.card2 p {
    font-size: 17px;
    color: #333;
    margin: 0px 20px;
}

.card2 a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 30px;  
    transition: all 0.3s ease;
}

.card2 i {
    margin: 0px 0px;
    padding: 10px 20px;
}

.card2 hr {
    width: 100%;
    margin-top: 3%;
}

.card2 a:hover {
    background-color: white;
    color: black;
}



/**/
.haber {
    background-color: #F5F5F5;

}

.title {
    text-align: center;
    padding-top: 3%;   
}

.haberler .column {
    display: inline-flex;
    flex-wrap: wrap;
    width: 17%;
    padding: 6px;
    position: relative;
 
    color: white;
    margin-left: 21.5%;
    margin-right: auto;   
    margin-bottom: 3%;
}

.column img {
    border-radius: 5%;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
}

.buton {
    text-align: center;
}

.buton a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color:#16BDCF;
    padding: 10px 40px;
    margin: 20px 20px;
    border-radius: 30px;  
    transition: all 0.3s ease;
    
    
}
.buton a:hover{
    
        background-color: white;
        color: black;
    
}
.haberler .title hr{
    width: 3%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.kurslar .title hr{
    width: 3%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

/**/
.istatistikler {
    background-color: #F5F5F5;
}

.istatistikler hr {
    width: 3%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    position: relative;
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparennt-color);
    
}

.stats .container .box i {
    width: 110px;
    height: 100px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    margin: 0 auto 10px;
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.233);
}

.stats .container .box p {
    margin-top: 3%;
    color: black;
}

.stats .container .box .number {
    font-size: 35px;
    color: rgb(126, 79, 255);
    font-weight: bolder;
}

/**/
.feature-items {

    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.feature-item--wrapper {

    flex-direction: row;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img-wrapper {


    padding-right: 24px;
}


.container-haber{
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.container-haber .card-haber{
    position: relative;
    width: 550px;
    margin: 10px;
    padding: 15px;
    display: flex;
}
.container-haber .card-haber .imgBx{
    max-width: 200px;
    flex:  0 0 150px;
}
.container-haber .card-haber .imgBx img{
    max-width: 100%;
}
.container-haber .card-haber .content{
    margin-left: 20px;
}
.container-haber .card-haber .content h2{
    font-size: 20px;
}

/**/
.footer {
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #594ea0;
    left: 0;
    right: 0;
    bottom: 0;

}

.footer-content h4 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 16px;
    display: inline-flex;
}

.footer-content li a {
    margin: 3px;
    color: rgb(185, 185, 185);

}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
}

.footer-content i {
    margin: 2px;

}

.bulten .container {
    display: flex;
    padding: 2px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    background-color: #d6d6d6;

}

.bulten .container input {
    width: 100%;
    height: 35px;
    background: none;
    padding: 0;
    border: 0;
    outline: none;
}

.bulten .container button {
    height: 35px;
    width: 104px;
    background-color: #0077b6;
    text-transform: uppercase;
    border-style: none;
    
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.ending {
    background: #594ea0;
    

}

.ending li {
    display: flex;
    padding:30px 13% 10px;
    display: inline-flex;


}
.ending li p{
    margin-left: 2150%;
}

.ending hr {
    background-color: #666666;
    height: 1px;
    border: 0;
    width: 75%;
    margin: auto;

}



@media(max-width: 400px) {
    .bottom-left {
        display: none;
    }

    .haberler .column .bottom-left {
        display: none;
    }

    .footer-content p {
        font-size: 10px;
    }

    .bulten .container input {
        width: 20%;
    }
    .wrapper .top-nav .left .logo img{
        margin-left: -10%;
    }

}

@media (max-width: 1690px) {
    .footer {
        padding: 50px 5% 40px;
    }
    .ending li {
        display: flex;
        padding:30px 13% 1px;
        display: inline-flex;
        margin-left: -8%;
    
    
    }
    .ending li p{
        margin-left: 1850%;
    }
}


@media (max-width: 1120px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
    .ending li p{
        margin-left: 1350%;
    }
}




@media screen and (max-width:866px) {
    .haberler-olaylar p {
        display: none;
    }

    .haberler-olaylar img {
        width: 50%;
    }
    .ending li p{
        margin-left: 1050%;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper .top-nav .right ul {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media screen and (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media screen and (max-width:710px) {
    .stats .container .box {
        flex-basis: 100%;
    }

    .wrapper button {
        margin: 1%;
    }
}
@media(max-width: 1024px){
    .kontrol{
        display:block;
    }
    .right3{
        display: none;
    }
    .right2 li{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 85%;
        margin: 25px auto;
    }
  
    .card2{
        width: 85%;
        margin: 25px auto;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow: hidden;
    }
    .card2-container {
        width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto;
    }           
    
    .card2 img {
        width: 100%;
    height: auto;
    }
    
    .card2 h3 {
        font-size: 20px;
        color: #333;
        margin: 10px 20px;
    }
    
    .card2 p {
       font-size: 13px;
    color: #333;
    margin: 0px 20px;
    }
    
    .card2 a {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        color: #fff;
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        margin: 20px 20px;
        border-radius: 30px;  
        transition: all 0.3s ease;
    }
    
    .card2 i {
        margin: 0px 0px;
        padding: 10px 20px;
    }
    
    .card2 hr {
        width: 100%;
        margin-top: 3%;
    }
    
    .card2 a:hover {
        background-color: white;
        color: black;
    }

}

@media screen and (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }

}

@media screen and (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
   
}



@media screen and (max-width: 700px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2.5rem;
    }

    .wrapper .title p {
        font-size: 15px;
    }

    .wrapper .title h2 {
        font-size: 35px;
    }

    .haberler .column {
        width: 25%;
        margin-left: 17%;
    }
    .ending li p{
        display: none;
    }
    .wrapper .bottom_nav {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .search_bar {
        display: none;
    }

   

    .footer img {
        width: 55%;
    }
    .haberler .column {
       float: none;
       margin-left: 37%;
    }
}